<div class="py-4">
    <div class="box-content bg-orange-500 text-white text-lg font-medium rounded-lg grid grid-cols-2 items-center py-4 hover:box-content shadow-md hover:shadow-lg hover:bg-orange-600 transition-all duration-300 ease-in-out cursor-pointer" onclick="togglePages('<%= pageId %>-pages')">
      <p class="pl-4"><%= chaptername %></p>
      <div class="flex justify-end pr-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>
      </div>
    </div>
  
    <!-- Hidden pages list with transition -->
    <ul id="<%= pageId %>-pages" class="hidden pl-8 mt-2 transition-all duration-500 ease-in-out">
       <% if (page.length>0) { %>
        <% for( let i = 0; i < page.length; i++ ) { %>
        
          <li class="py-2 pl-4 pr-2 bg-gray-200 rounded-lg mb-2 border-l-4 border-orange-500 hover:bg-gray-300 hover:shadow-md transition-all duration-300 ease-in-out">
            <%= page[i].name %>
          </li>
        <% } %>
       <% } %>
      
    </ul>
  </div>
  
  <script>
    function togglePages(id) {
      const pagesList = document.getElementById(id);
      pagesList.classList.toggle('hidden');
    }
  </script>
  