<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- Header -->
    <header class="bg-orange-400">
      <nav class="mx-auto text-lg font-bold flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1 text-white">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">LMS</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
              </svg>   
          </a>
          <a href="/"><h1 class="px-2">Learning Management System</h1></a>
        </div>
       
        <!-- <div class="hidden lg:flex lg:gap-x-12">
    
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
        </div> -->
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="/login" class=" text-lg font-medium leading-6 text-white">Sign-in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
    </header>
    

    <!-- Main Content -->
    <div class="flex-grow grid grid-cols-6 mb-4">
      <div class="col-start-3 col-span-2">
        <h1 class="text-4xl font-semibold text-gray-700 py-4">
          Welcome to Your Learning Hub
        </h1>
        
        <p class="py-2 text-gray-600">
          Explore a world of knowledge and skills.
        </p>

        <div class="bg-white shadow-md rounded-lg p-4 mb-4">
          <h2 class="text-2xl font-medium text-gray-800">Get Started</h2>
          <p class="py-2 text-gray-600">Choose your path:</p>
          <div class="flex justify-between">
            <a
              href="/signup"
              class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition"
              >Sign-up</a
            >
            <a
              href="/login"
              class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition"
              >Sign-in</a
            >
          </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-4">
          <h2 class="text-2xl font-medium text-gray-800">Why Choose Us?</h2>
          <ul class="list-inside list-disc text-gray-600 py-2">
            <li>Access to a wide range of courses.</li>
            <li>Learn at your own pace.</li>
            <li>Engaging community and support.</li>
            <li>Certifications to boost your career.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('footer.ejs') %>
  </body>
</html>
